@define-color accent #383838;
@define-color text #f8f8f8;
@define-color invText #f8f8f8;
/* text when background is accent */
@define-color bg #181818;

*{
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Symbols Nerd Font";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
      background-color: rgba(43, 48, 59, 0.5);
      border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
} 

waybar.empty #window {
  background-color: transparent;
}

#workspaces {
}

#window {
  margin: 2px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgba(0,0,0,0.3);
  font-size:14px;
  font-weight: bold;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

#workspaces button {
  padding: 0 5px;
	color: @text;
}

#workspaces button.active {
  background-color: @accent;
  color: @invText;
  /* color: @background; */
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#network,
#bluetooth,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: rgba(0,0,0,0.3);
  color: #ffffff;
}

#clock {
  font-size:14px;
  font-weight: bold;
}
